.bg-purple {
  background-color: purple;
}
.text-purple {
  color: purple;
}

.width-80 {
  width: 80%;
}

.btn-purple {
  border: 1px solid rgb(82, 2, 82);
  background-color: purple;
  color: white;
}

.btn-purple:hover {
  background-color: rgb(82, 2, 82);
  color: white;
}

/* .centrar-elemento{
    margin-left:auto !important;
    margin-right:auto !important;
} */